// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
html, body {
  height: 100% !important;
  box-sizing: border-box;
  font-family: 'Poppins';
  margin: 0;
  background: lighten($color: rgba(0, 54, 121, 0.6), $amount: 74) !important;
}

body {
  padding-top: 3.5rem !important;
  display: flex !important;
  flex-direction: column !important;
}

main {
  flex: 1 0 auto;
  margin-top: 2.5rem;
}

.hero {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  img {
    width: 100%;
  }

  .overlay{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    width: inherit;
    height: 100%;
    z-index: 3;
    box-sizing: border-box;
    padding: 204px 0;

    h1 {
      font-weight: 600;
      font-size: 44px;
      line-height: 50px;
      color: #ffffff;
    }

  label {
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
    color: #ffffff;
    margin: 30px 0;
    display: block;
  }

  input {
    border-radius: 10px;
    padding: 20px;
    outline: 0;
    border: none;
    width: 445px;
    display: block;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #003679;

    &::placeholder {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 30px;
      color: #003679;
      padding-left: 10px;
    }
  }
    
  }

  form {
    width: 50%;
  }
}

  .overlay button {
    display: block;
    background: #003679;
    color: #ffffff;
    padding: 20px;
    border: none;
    border-radius: 10px;
    width: 445px;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    margin: 10px 0;
    text-transform: uppercase;
  }
.overlay .caption {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  width: 395px;
}



.avatar {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 70px;
  height: 70px;

  img {
    border-radius: 50%;
  }
}

  .downloads {
    background: lighten($color: rgba(0, 54, 121, 0.6), $amount: 70);
    //margin-top: -20px;

    h3 {
      font-weight: 600;
      font-size: 36px;
      line-height: 50px;
      color: #003679;
      text-transform: capitalize;
      margin-bottom: 46px;
    }

    ul {
      padding-left: 0;
      list-style: none;

      li {
        margin: 15px;

        a img {
          width: 50%;
        }
      }
    }
  }



  .reviews {
    text-align: center;
    background: lighten($color: rgba(0, 54, 121, 0.6), $amount: 74);
    padding-bottom: 250px !important;
    
    h2 {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      line-height: 44px;
      color: #003679;
      margin-bottom: 50px;
    }
  }

  footer {
    background: #7E2E84;
    padding: 15px 10px;
    color: #ffffff;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    flex-shrink: 0 !important;
  }



.hidden {
  display: none !important;
}

.card {
  background: #FFFFFF;
  box-shadow: -2px 6px 41px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  margin: 20px;
  border-radius: 10px;
  border: none;
  height: 431px;

  .card-header {
    border-bottom: 1px solid rgba(124, 159, 202, 0.8);
    text-align: center;
    padding: 15px;
    background-color: #ffffff;
  }

  .card-body {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #003679;
  }

  .card-footer {
    text-align: right;
    padding: 15px;
    background-color: #ffffff;
    border: none;
    color: rgba(0, 54, 121, 0.6);
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
  }
}

.navbar-toggler span{
  color: #003679 !important;
}

.d-text {
  text-align: right;
}

.menu-line {
  border: solid 2px #003679;
  width: 30px;
  margin: 3px;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .downloads {
    text-align: center !important;
  }
}

@media screen and (max-width: 350px) {
  .hero {
    .overlay {
      .caption {
        display: none;
      }

      h1 {
        font-size: 18px !important;
        padding-left: 2px;
        margin: 0;
      }
    }
  }
}


@media screen and (min-width: 768px) and (max-width: 992px) {
  .hero {
    .overlay {
      padding: 30px;
    }

    h1 {
      font-size: 18px;
    }
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {

    .overlay .caption  {
      font-size: 16px;
      line-height: 25px;
      width: 300px;
    }
    .hero {
      
      .overlay{
        padding: 40px !important;
        
        .container {
          margin: 0 !important;
          padding: 0px;
        }
        
        h1 {
          font-weight: 600;
          font-size: 22px;
          margin: 0;
          padding: 5px;
        }
        button {
          padding: 10px;
          width: 300px;
          font-size: 20px;
          line-height: 30px;
          margin: 10px 0;
        }
        label {
          font-size: 22px;
          line-height: 18px;
          padding: 5px;
          margin: 20px 0px 20px 0px;
        }
        input {
          padding: 5px;
          width: 300px;
          font-size: 18px;
          line-height: 30px;
          margin: 10px 0;

          &::placeholder {
            font-size: 18px;
          }
        }
      }
    
      form {
        width: 100%;        
      }
    }

}

@media only screen and (min-width: 320px) and (max-width: 479px) {

    .overlay .caption  {
      font-size: 15px;
      line-height: 25px;
      width: 250px;
    }
    .hero {
      
      .overlay{
        padding: 10px !important;
        
        .container {
          margin: 0 !important;
          padding: 0px;
        }
        
        h1 {
          font-weight: 600;
          font-size: 22px;
          margin: 0;
          padding: 2px;
        }
        button {
          padding: 5px;
          width: 225px;
          font-size: 20px;
          line-height: 30px;
          margin: 10px 0;
        }
        label {
          font-size: 18px;
          line-height: 18px;
          padding: 5px;
          margin: 0px 0px 10px 0px;
        }
        input {
          padding: 5px;
          width: 225px;
          font-size: 14px;
          line-height: 30px;
          margin: 10px 0;

          &::placeholder {
            font-size: 14px;
          }
        }
      }
    
      form {
        width: 100%;        
      }
    }

}

.navbar-nav li a {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #003679;
}

.navbar-nav li  {
  margin: 15px;
}

@font-face {
  font-family: 'Poppins';
  font-weight: normal;
  src: url('../fonts/Poppins-Regular.otf');
}


.wrapper {
  padding: 30px; //30px 300px 30px;
  h2 {
    color: #003679 !important;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    padding: 40px 0;
  }

  p {
    font-size: 24px;
    line-height: 40px;
    color: #003679;
  }
}

.map {
  position: relative;
  width: 100%;
}
.contact-form {
  position: absolute;
  top: 100px;
  background-color: #003679;
  padding: 70px 40px;
  color: #ffffff;

  button {
    background-color: #ffbb38;
    border: none;
    padding: 10px 30px;

    &:hover {
      border: 1px solid #ffbb38;
    }
  }

  input, textarea {
    &:focus {
      outline: 0;
    }
    &::placeholder {
      font-size: 12px;
    }
  }
}

.contact-links {
  background-color: #003679;
  padding: 40px;
  color: #ffffff;
  width: 70%;

  .icon {
    margin: 4px 10px 4px 0px;
    background-color: #ffbb38;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      color: #ffffff;
      font-size: 1.2rem;
    }
  }
}