html, body {
  height: 100% !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins';
  margin: 0;
  background: rgba(243, 249, 255, 0.6) !important;
}

body {
  padding-top: 3.5rem !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin-top: 2.5rem;
}

.hero {
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hero img {
  width: 100%;
}

.hero .overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: inherit;
  height: 100%;
  z-index: 3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 204px 0;
}

.hero .overlay h1 {
  font-weight: 600;
  font-size: 44px;
  line-height: 50px;
  color: #ffffff;
}

.hero .overlay label {
  font-weight: 500;
  font-size: 30px;
  line-height: 38px;
  color: #ffffff;
  margin: 30px 0;
  display: block;
}

.hero .overlay input {
  border-radius: 10px;
  padding: 20px;
  outline: 0;
  border: none;
  width: 445px;
  display: block;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #003679;
}

.hero .overlay input::-webkit-input-placeholder {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #003679;
  padding-left: 10px;
}

.hero .overlay input:-ms-input-placeholder {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #003679;
  padding-left: 10px;
}

.hero .overlay input::-ms-input-placeholder {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #003679;
  padding-left: 10px;
}

.hero .overlay input::placeholder {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #003679;
  padding-left: 10px;
}

.hero form {
  width: 50%;
}

.overlay button {
  display: block;
  background: #003679;
  color: #ffffff;
  padding: 20px;
  border: none;
  border-radius: 10px;
  width: 445px;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  margin: 10px 0;
  text-transform: uppercase;
}

.overlay .caption {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  width: 395px;
}

.avatar {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.avatar img {
  border-radius: 50%;
}

.downloads {
  background: rgba(223, 237, 255, 0.6);
}

.downloads h3 {
  font-weight: 600;
  font-size: 36px;
  line-height: 50px;
  color: #003679;
  text-transform: capitalize;
  margin-bottom: 46px;
}

.downloads ul {
  padding-left: 0;
  list-style: none;
}

.downloads ul li {
  margin: 15px;
}

.downloads ul li a img {
  width: 50%;
}

.reviews {
  text-align: center;
  background: rgba(243, 249, 255, 0.6);
  padding-bottom: 250px !important;
}

.reviews h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 44px;
  color: #003679;
  margin-bottom: 50px;
}

footer {
  background: #7E2E84;
  padding: 15px 10px;
  color: #ffffff;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  -ms-flex-negative: 0 !important;
      flex-shrink: 0 !important;
}

.hidden {
  display: none !important;
}

.card {
  background: #FFFFFF;
  -webkit-box-shadow: -2px 6px 41px rgba(0, 0, 0, 0.04);
          box-shadow: -2px 6px 41px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  margin: 20px;
  border-radius: 10px;
  border: none;
  height: 431px;
}

.card .card-header {
  border-bottom: 1px solid rgba(124, 159, 202, 0.8);
  text-align: center;
  padding: 15px;
  background-color: #ffffff;
}

.card .card-body {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #003679;
}

.card .card-footer {
  text-align: right;
  padding: 15px;
  background-color: #ffffff;
  border: none;
  color: rgba(0, 54, 121, 0.6);
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

.navbar-toggler span {
  color: #003679 !important;
}

.d-text {
  text-align: right;
}

.menu-line {
  border: solid 2px #003679;
  width: 30px;
  margin: 3px;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .downloads {
    text-align: center !important;
  }
}

@media screen and (max-width: 350px) {
  .hero .overlay .caption {
    display: none;
  }
  .hero .overlay h1 {
    font-size: 18px !important;
    padding-left: 2px;
    margin: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .hero .overlay {
    padding: 30px;
  }
  .hero h1 {
    font-size: 18px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .overlay .caption {
    font-size: 16px;
    line-height: 25px;
    width: 300px;
  }
  .hero .overlay {
    padding: 40px !important;
  }
  .hero .overlay .container {
    margin: 0 !important;
    padding: 0px;
  }
  .hero .overlay h1 {
    font-weight: 600;
    font-size: 22px;
    margin: 0;
    padding: 5px;
  }
  .hero .overlay button {
    padding: 10px;
    width: 300px;
    font-size: 20px;
    line-height: 30px;
    margin: 10px 0;
  }
  .hero .overlay label {
    font-size: 22px;
    line-height: 18px;
    padding: 5px;
    margin: 20px 0px 20px 0px;
  }
  .hero .overlay input {
    padding: 5px;
    width: 300px;
    font-size: 18px;
    line-height: 30px;
    margin: 10px 0;
  }
  .hero .overlay input::-webkit-input-placeholder {
    font-size: 18px;
  }
  .hero .overlay input:-ms-input-placeholder {
    font-size: 18px;
  }
  .hero .overlay input::-ms-input-placeholder {
    font-size: 18px;
  }
  .hero .overlay input::placeholder {
    font-size: 18px;
  }
  .hero form {
    width: 100%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .overlay .caption {
    font-size: 15px;
    line-height: 25px;
    width: 250px;
  }
  .hero .overlay {
    padding: 10px !important;
  }
  .hero .overlay .container {
    margin: 0 !important;
    padding: 0px;
  }
  .hero .overlay h1 {
    font-weight: 600;
    font-size: 22px;
    margin: 0;
    padding: 2px;
  }
  .hero .overlay button {
    padding: 5px;
    width: 225px;
    font-size: 20px;
    line-height: 30px;
    margin: 10px 0;
  }
  .hero .overlay label {
    font-size: 18px;
    line-height: 18px;
    padding: 5px;
    margin: 0px 0px 10px 0px;
  }
  .hero .overlay input {
    padding: 5px;
    width: 225px;
    font-size: 14px;
    line-height: 30px;
    margin: 10px 0;
  }
  .hero .overlay input::-webkit-input-placeholder {
    font-size: 14px;
  }
  .hero .overlay input:-ms-input-placeholder {
    font-size: 14px;
  }
  .hero .overlay input::-ms-input-placeholder {
    font-size: 14px;
  }
  .hero .overlay input::placeholder {
    font-size: 14px;
  }
  .hero form {
    width: 100%;
  }
}

.navbar-nav li a {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #003679;
}

.navbar-nav li {
  margin: 15px;
}

@font-face {
  font-family: 'Poppins';
  font-weight: normal;
  src: url("../fonts/Poppins-Regular.otf");
}

.wrapper {
  padding: 30px;
}

.wrapper h2 {
  color: #003679 !important;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  padding: 40px 0;
}

.wrapper p {
  font-size: 24px;
  line-height: 40px;
  color: #003679;
}

.map {
  position: relative;
  width: 100%;
}

.contact-form {
  position: absolute;
  top: 100px;
  background-color: #003679;
  padding: 70px 40px;
  color: #ffffff;
}

.contact-form button {
  background-color: #ffbb38;
  border: none;
  padding: 10px 30px;
}

.contact-form button:hover {
  border: 1px solid #ffbb38;
}

.contact-form input:focus, .contact-form textarea:focus {
  outline: 0;
}

.contact-form input::-webkit-input-placeholder, .contact-form textarea::-webkit-input-placeholder {
  font-size: 12px;
}

.contact-form input:-ms-input-placeholder, .contact-form textarea:-ms-input-placeholder {
  font-size: 12px;
}

.contact-form input::-ms-input-placeholder, .contact-form textarea::-ms-input-placeholder {
  font-size: 12px;
}

.contact-form input::placeholder, .contact-form textarea::placeholder {
  font-size: 12px;
}

.contact-links {
  background-color: #003679;
  padding: 40px;
  color: #ffffff;
  width: 70%;
}

.contact-links .icon {
  margin: 4px 10px 4px 0px;
  background-color: #ffbb38;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-links .icon i {
  color: #ffffff;
  font-size: 1.2rem;
}
/*# sourceMappingURL=main.css.map */